.btn-order {
  display: block;
  position: absolute;
  background: url("../img/button/order.svg") no-repeat white;
  width: 119px;
  height: 32px;
  cursor: pointer;
  transform: translateY(66px);
  border:none;
}
