$bgHeaderColor: #FFFFFF;
$border: 1px solid black;
$h1Divider: #41F6D7;
$mainBackground: #F8F8F8;
$firstLi: #B8FFEC;
$aColor: #7E7E82;
$borderBottom: #D9FFF5;
$divider: #EAEAEA;
$swiper: #F8F8F8;
$footerText: #7E7E82;
$greyText: #7E7E82;
$red:#FF3E79;
$crimson: crimson;
